In [9]:
#! /usr/local/bin python3.6

import pandas as pd
import numpy as np
import os
import sys
import time
import datetime
from datetime import datetime as dt

os.chdir("/home/donald/Projects/Python36/do pandas")

# read csv data into pandas dataframe
df = pd.read_csv("incubator_report.csv")

# save now-datetime-object
dnow = dt.now()
past3 = str(dnow - datetime.timedelta(days=3))
past7 = str(dnow - datetime.timedelta(days=7))
past30 = str(dnow - datetime.timedelta(days=30))

# if hatchRate is > 80 and < 55, lets take a look at records
# for the past 3, 7 & 30 days
# look by phone number | birdType [coz its unique] than name

'''
   # df filtering data
   df[(df.salt >= 50) & (df.eggs < 200)]
   df[(df.salt >= 50) | (df.eggs < 200)]
'''
def data3(btype, rate, contact=None, allOf=False):
    df3 = df.copy()     # make a copy to avoid messing the original
    chunk = df3[(df3['DateAdded'] <= past3) & (df3['BirdType'] == btype) & (df3['HatchRate(%)'] <= rate)]
    
    if len(chunk) != 0:
        if len(chunk) > 5 and allOf:
            print("[INFO] Returning all found data of the past 3 days")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            return d
        
        elif len(chunk) > 5 and allOf == False:
            print("[INFO] Returning first 5 found data of the past 3 days")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            h = d.head()
            return h
        
        else:
            print("[INFO] Results found")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            return d
        
    else:
        print("[DEBUG] Could not find any data for the past 3 days")
        
def data7(btype, rate, contact=None, allOf=False):
    df7 = df.copy()     # make a copy to avoid messing the original
    chunk = df7[(df7['DateAdded'] <= past7) & (df7['BirdType'] == btype) & (df7['HatchRate(%)'] <= rate)]
    
    if len(chunk) != 0:
        if len(chunk) > 5 and allOf:
            print("[INFO] Returning all found data for the past week")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            return d
        
        elif len(chunk) > 5 and allOf == False:
            print("[INFO] Returning first 5 found data for the past week")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            h = d.head()
            return h
        
        else:
            print("[INFO] Results found")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            return d
        
    else:
        print("[DEBUG] Could not find any data for the past week")

def data30(btype, rate, contact=None, allOf=False):
    df30 = df.copy()     # make a copy to avoid messing the original
    chunk = df30[(df30['DateAdded'] <= past30) & (df30['BirdType'] == btype) & (df30['HatchRate(%)'] <= rate)]
    
    if len(chunk) != 0:
        if len(chunk) > 5 and allOf:
            print("[INFO] Returning all found data for the past month")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            return d
        
        elif len(chunk) > 5 and allOf == False:
            print("[INFO] Returning first 5 found data for the past month")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            h = d.head()
            return h
        
        else:
            print("[INFO] Results found")
            c = chunk.sort_values('DateAdded')
            d = c.set_index('Name')
            return d
    else:
        print("[DEBUG] Could not find any data for the past month")
        return chunk

f = data7('broiler', 80)
f

[INFO] Returning first 5 found data for the past week

,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%)
Name,,,,,,,
Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5
Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2
Nina Bray,738025658,broiler,176,0.2,35.20,2018-04-07,70.0
Chad Perez,771912470,broiler,422,0.2,84.40,2018-04-13,67.5
Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,2018-04-19,75.0