In [1]:
import pandas as pd
f = "incubator_report.csv"
df = pd.read_csv(f)
df

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%)
0,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.80,2018-06-05,83.3
1,Mary Morgan,0712 474 894,turkey,88,0.4,35.20,2018-05-17,86.5
2,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.20,2018-05-24,76.1
3,William Hernandez,775172685,duck,156,0.5,78.00,2018-06-07,83.7
4,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,2018-01-25,80.2
5,Greg Thomas,+263 736 376 681,turkey,9,0.4,3.60,2018-04-08,52.8
6,James Fletcher,+263 772 39 4032,broiler,462,0.2,92.40,2018-05-06,83.2
7,Jonathan Moore,+263 737 904 310,geniue fowl,201,0.3,60.30,2018-03-21,54.3
8,David Patterson,+263 736 547 696,broiler,287,0.2,57.40,2018-05-15,82.1
9,Hannah Hernandez,+263 736 691 539,road runner,80,0.1,8.00,2018-06-20,72.5
10,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5
11,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,2018-02-13,64.3
12,Christopher Knight,0735 527 693,geniue fowl,73,0.3,21.90,2018-06-20,69.6
13,Michelle Alvarado,773564147,turkey,391,0.4,156.40,2018-06-11,61.5
14,Nina Bray,738025658,broiler,176,0.2,35.20,2018-04-07,70.0
15,Chad Perez,771912470,broiler,422,0.2,84.40,2018-04-13,67.5
16,Ashley Gaines,0718 309 419,duck,319,0.5,159.50,2018-03-22,86.5
17,Gary Santana,+263 733 949 344,geniue fowl,453,0.3,135.90,2018-03-04,71.2
18,Dylan Short,718932006,geniue fowl,74,0.3,22.20,2018-02-19,81.7
19,Scott Simmons,+263 736 332 811,geniue fowl,63,0.3,18.90,2018-03-17,66.3
20,Mark Hill,0736 698 044,duck,148,0.5,74.00,2018-06-28,56.4
21,Destiny Ho,+263 710 206 068,road runner,299,0.1,29.90,2018-06-23,58.3
22,Dr. Kelly Ray,0717 064 105,road runner,106,0.1,10.60,2018-06-15,76.7
23,Jared Rangel,0770 636 451,duck,475,0.5,237.50,2018-02-01,85.1
24,Joseph Russell,0712 567 391,turkey,465,0.4,186.00,2018-07-04,68.9
25,George Lee,775139057,road runner,207,0.1,20.70,2018-01-06,78.3
26,Kayla Lopez,+263 777 80 0015,broiler,219,0.2,43.80,2018-06-17,67.8
27,Richard Alexander,737680090,geniue fowl,372,0.3,111.60,2018-06-23,54.7
28,Catherine Anderson,0739 098 157,road runner,409,0.1,40.90,2018-03-22,88.6
29,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2
30,Dean Dickson,0738 685 971,road runner,461,0.1,46.10,2018-04-25,76.9
31,Bruce Church,733039105,duck,447,0.5,223.50,2018-04-11,52.4
32,Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,2018-04-19,75.0
33,Brittany Nelson,+263 710 304 963,duck,270,0.5,135.00,2018-05-15,56.1
34,Kelly Williams MD,774194602,geniue fowl,133,0.3,39.90,2018-03-25,88.5
35,Michelle Greene,+263 772 830 576,broiler,346,0.2,69.20,2018-06-19,58.6
36,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,2018-02-14,50.1
37,Gabriela Ramirez,0737 217 419,geniue fowl,362,0.3,108.60,2018-07-05,87.9
38,Joe Mitchell,0710 817 548,duck,201,0.5,100.50,2018-05-27,58.2
39,Joseph Wang,0772 854 625,turkey,430,0.4,172.00,2018-05-30,60.4

In [2]:
df.sort_values('DateAdded')

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%)
25,George Lee,775139057,road runner,207,0.1,20.70,2018-01-06,78.3
10,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5
29,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2
4,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,2018-01-25,80.2
23,Jared Rangel,0770 636 451,duck,475,0.5,237.50,2018-02-01,85.1
11,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,2018-02-13,64.3
36,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,2018-02-14,50.1
18,Dylan Short,718932006,geniue fowl,74,0.3,22.20,2018-02-19,81.7
17,Gary Santana,+263 733 949 344,geniue fowl,453,0.3,135.90,2018-03-04,71.2
19,Scott Simmons,+263 736 332 811,geniue fowl,63,0.3,18.90,2018-03-17,66.3
7,Jonathan Moore,+263 737 904 310,geniue fowl,201,0.3,60.30,2018-03-21,54.3
28,Catherine Anderson,0739 098 157,road runner,409,0.1,40.90,2018-03-22,88.6
16,Ashley Gaines,0718 309 419,duck,319,0.5,159.50,2018-03-22,86.5
34,Kelly Williams MD,774194602,geniue fowl,133,0.3,39.90,2018-03-25,88.5
14,Nina Bray,738025658,broiler,176,0.2,35.20,2018-04-07,70.0
5,Greg Thomas,+263 736 376 681,turkey,9,0.4,3.60,2018-04-08,52.8
31,Bruce Church,733039105,duck,447,0.5,223.50,2018-04-11,52.4
15,Chad Perez,771912470,broiler,422,0.2,84.40,2018-04-13,67.5
32,Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,2018-04-19,75.0
30,Dean Dickson,0738 685 971,road runner,461,0.1,46.10,2018-04-25,76.9
6,James Fletcher,+263 772 39 4032,broiler,462,0.2,92.40,2018-05-06,83.2
8,David Patterson,+263 736 547 696,broiler,287,0.2,57.40,2018-05-15,82.1
33,Brittany Nelson,+263 710 304 963,duck,270,0.5,135.00,2018-05-15,56.1
1,Mary Morgan,0712 474 894,turkey,88,0.4,35.20,2018-05-17,86.5
2,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.20,2018-05-24,76.1
38,Joe Mitchell,0710 817 548,duck,201,0.5,100.50,2018-05-27,58.2
39,Joseph Wang,0772 854 625,turkey,430,0.4,172.00,2018-05-30,60.4
0,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.80,2018-06-05,83.3
3,William Hernandez,775172685,duck,156,0.5,78.00,2018-06-07,83.7
13,Michelle Alvarado,773564147,turkey,391,0.4,156.40,2018-06-11,61.5
22,Dr. Kelly Ray,0717 064 105,road runner,106,0.1,10.60,2018-06-15,76.7
26,Kayla Lopez,+263 777 80 0015,broiler,219,0.2,43.80,2018-06-17,67.8
35,Michelle Greene,+263 772 830 576,broiler,346,0.2,69.20,2018-06-19,58.6
12,Christopher Knight,0735 527 693,geniue fowl,73,0.3,21.90,2018-06-20,69.6
9,Hannah Hernandez,+263 736 691 539,road runner,80,0.1,8.00,2018-06-20,72.5
27,Richard Alexander,737680090,geniue fowl,372,0.3,111.60,2018-06-23,54.7
21,Destiny Ho,+263 710 206 068,road runner,299,0.1,29.90,2018-06-23,58.3
20,Mark Hill,0736 698 044,duck,148,0.5,74.00,2018-06-28,56.4
24,Joseph Russell,0712 567 391,turkey,465,0.4,186.00,2018-07-04,68.9
37,Gabriela Ramirez,0737 217 419,geniue fowl,362,0.3,108.60,2018-07-05,87.9

In [3]:
df.head(4)

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%)
0,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.8,2018-06-05,83.3
1,Mary Morgan,0712 474 894,turkey,88,0.4,35.2,2018-05-17,86.5
2,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.2,2018-05-24,76.1
3,William Hernandez,775172685,duck,156,0.5,78.0,2018-06-07,83.7

In [4]:
df[['Name', 'BirdType', 'NumberOfEggs', 'HatchRate(%)']]

                    Name     BirdType  NumberOfEggs  HatchRate(%)
0     Manuel Chapman Jr.  geniue fowl            56          83.3
1            Mary Morgan       turkey            88          86.5
2     Michelle Gutierrez      broiler           411          76.1
3      William Hernandez         duck           156          83.7
4          Blake Trevino       turkey           157          80.2
5            Greg Thomas       turkey             9          52.8
6         James Fletcher      broiler           462          83.2
7         Jonathan Moore  geniue fowl           201          54.3
8        David Patterson      broiler           287          82.1
9       Hannah Hernandez  road runner            80          72.5
10           Jamie Brown      broiler           170          71.5
11           Shawna Reed       turkey           317          64.3
12    Christopher Knight  geniue fowl            73          69.6
13     Michelle Alvarado       turkey           391          61.5
14             Nina Bray      broiler           176          70.0
15            Chad Perez      broiler           422          67.5
16         Ashley Gaines         duck           319          86.5
17          Gary Santana  geniue fowl           453          71.2
18           Dylan Short  geniue fowl            74          81.7
19         Scott Simmons  geniue fowl            63          66.3
20             Mark Hill         duck           148          56.4
21            Destiny Ho  road runner           299          58.3
22         Dr. Kelly Ray  road runner           106          76.7
23          Jared Rangel         duck           475          85.1
24        Joseph Russell       turkey           465          68.9
25            George Lee  road runner           207          78.3
26           Kayla Lopez      broiler           219          67.8
27     Richard Alexander  geniue fowl           372          54.7
28    Catherine Anderson  road runner           409          88.6
29         Joshua Glover      broiler           151          71.2
30          Dean Dickson  road runner           461          76.9
31          Bruce Church         duck           447          52.4
32  Jennifer Simmons DVM      broiler           238          75.0
33       Brittany Nelson         duck           270          56.1
34     Kelly Williams MD  geniue fowl           133          88.5
35       Michelle Greene      broiler           346          58.6
36         Ronald Hughes         duck           176          50.1
37      Gabriela Ramirez  geniue fowl           362          87.9
38          Joe Mitchell         duck           201          58.2
39           Joseph Wang       turkey           430          60.4

In [5]:
df['EggsHatched'] = (df['HatchRate(%)'] * df['NumberOfEggs']) / 100  # make a custom column of the number of hatched eggs
df.head(5)
df.describe()

       NumberOfEggs  PricePerEgg($)  TotalPrice($)  HatchRate(%)  EggsHatched
count      40.00000        40.00000      40.000000     40.000000    40.000000
mean      257.00000         0.30250      77.688250     70.872500   181.980275
std       142.58259         0.13679      60.079677     11.768406   107.927865
min         9.00000         0.10000       3.600000     50.100000     4.752000
25%       150.25000         0.20000      33.057500     59.950000   102.678000
50%       228.50000         0.30000      61.550000     71.200000   156.775500
75%       395.50000         0.40000     109.350000     81.800000   263.773750
max       475.00000         0.50000     237.500000     88.600000   404.225000

In [6]:
df[df['HatchRate(%)'] < 60]
df.head(3)

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%),EggsHatched
0,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.8,2018-06-05,83.3,46.648
1,Mary Morgan,0712 474 894,turkey,88,0.4,35.2,2018-05-17,86.5,76.120
2,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.2,2018-05-24,76.1,312.771

In [7]:
df.set_index('DateAdded') # set against the day added

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),HatchRate(%),EggsHatched
DateAdded,,,,,,,,
2018-06-05,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.80,83.3,46.648
2018-05-17,Mary Morgan,0712 474 894,turkey,88,0.4,35.20,86.5,76.120
2018-05-24,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.20,76.1,312.771
2018-06-07,William Hernandez,775172685,duck,156,0.5,78.00,83.7,130.572
2018-01-25,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,80.2,125.914
2018-04-08,Greg Thomas,+263 736 376 681,turkey,9,0.4,3.60,52.8,4.752
2018-05-06,James Fletcher,+263 772 39 4032,broiler,462,0.2,92.40,83.2,384.384
2018-03-21,Jonathan Moore,+263 737 904 310,geniue fowl,201,0.3,60.30,54.3,109.143
2018-05-15,David Patterson,+263 736 547 696,broiler,287,0.2,57.40,82.1,235.627
2018-06-20,Hannah Hernandez,+263 736 691 539,road runner,80,0.1,8.00,72.5,58.000
2018-01-09,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,71.5,121.550
2018-02-13,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,64.3,203.831
2018-06-20,Christopher Knight,0735 527 693,geniue fowl,73,0.3,21.90,69.6,50.808
2018-06-11,Michelle Alvarado,773564147,turkey,391,0.4,156.40,61.5,240.465
2018-04-07,Nina Bray,738025658,broiler,176,0.2,35.20,70.0,123.200
2018-04-13,Chad Perez,771912470,broiler,422,0.2,84.40,67.5,284.850
2018-03-22,Ashley Gaines,0718 309 419,duck,319,0.5,159.50,86.5,275.935
2018-03-04,Gary Santana,+263 733 949 344,geniue fowl,453,0.3,135.90,71.2,322.536
2018-02-19,Dylan Short,718932006,geniue fowl,74,0.3,22.20,81.7,60.458
2018-03-17,Scott Simmons,+263 736 332 811,geniue fowl,63,0.3,18.90,66.3,41.769
2018-06-28,Mark Hill,0736 698 044,duck,148,0.5,74.00,56.4,83.472
2018-06-23,Destiny Ho,+263 710 206 068,road runner,299,0.1,29.90,58.3,174.317
2018-06-15,Dr. Kelly Ray,0717 064 105,road runner,106,0.1,10.60,76.7,81.302
2018-02-01,Jared Rangel,0770 636 451,duck,475,0.5,237.50,85.1,404.225
2018-07-04,Joseph Russell,0712 567 391,turkey,465,0.4,186.00,68.9,320.385
2018-01-06,George Lee,775139057,road runner,207,0.1,20.70,78.3,162.081
2018-06-17,Kayla Lopez,+263 777 80 0015,broiler,219,0.2,43.80,67.8,148.482
2018-06-23,Richard Alexander,737680090,geniue fowl,372,0.3,111.60,54.7,203.484
2018-03-22,Catherine Anderson,0739 098 157,road runner,409,0.1,40.90,88.6,362.374
2018-01-16,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,71.2,107.512
2018-04-25,Dean Dickson,0738 685 971,road runner,461,0.1,46.10,76.9,354.509
2018-04-11,Bruce Church,733039105,duck,447,0.5,223.50,52.4,234.228
2018-04-19,Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,75.0,178.500
2018-05-15,Brittany Nelson,+263 710 304 963,duck,270,0.5,135.00,56.1,151.470
2018-03-25,Kelly Williams MD,774194602,geniue fowl,133,0.3,39.90,88.5,117.705
2018-06-19,Michelle Greene,+263 772 830 576,broiler,346,0.2,69.20,58.6,202.756
2018-02-14,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,50.1,88.176
2018-07-05,Gabriela Ramirez,0737 217 419,geniue fowl,362,0.3,108.60,87.9,318.198
2018-05-27,Joe Mitchell,0710 817 548,duck,201,0.5,100.50,58.2,116.982
2018-05-30,Joseph Wang,0772 854 625,turkey,430,0.4,172.00,60.4,259.720

In [8]:
type(df['DateAdded'])

pandas.core.series.Series

In [9]:
c = pd.to_datetime(df['DateAdded'])    # change the 'once' string data type to pandas date type object
c

0    2018-06-05
1    2018-05-17
2    2018-05-24
3    2018-06-07
4    2018-01-25
5    2018-04-08
6    2018-05-06
7    2018-03-21
8    2018-05-15
9    2018-06-20
10   2018-01-09
11   2018-02-13
12   2018-06-20
13   2018-06-11
14   2018-04-07
15   2018-04-13
16   2018-03-22
17   2018-03-04
18   2018-02-19
19   2018-03-17
20   2018-06-28
21   2018-06-23
22   2018-06-15
23   2018-02-01
24   2018-07-04
25   2018-01-06
26   2018-06-17
27   2018-06-23
28   2018-03-22
29   2018-01-16
30   2018-04-25
31   2018-04-11
32   2018-04-19
33   2018-05-15
34   2018-03-25
35   2018-06-19
36   2018-02-14
37   2018-07-05
38   2018-05-27
39   2018-05-30
Name: DateAdded, dtype: datetime64[ns]

In [10]:
# c.between('2018-01-01', '2018-03-01')
# returns a boolean value, if the query against is in between the given time frame it = True else False
# *query certain data e.g hatch rate of a particular client or bird type to check history
df[c.between('2018-01-01', '2018-03-01')]   # get data generated from 1 Jan 2018 to 1 March 2018

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%),EggsHatched
4,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,2018-01-25,80.2,125.914
10,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5,121.550
11,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,2018-02-13,64.3,203.831
18,Dylan Short,718932006,geniue fowl,74,0.3,22.20,2018-02-19,81.7,60.458
23,Jared Rangel,0770 636 451,duck,475,0.5,237.50,2018-02-01,85.1,404.225
25,George Lee,775139057,road runner,207,0.1,20.70,2018-01-06,78.3,162.081
29,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2,107.512
36,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,2018-02-14,50.1,88.176

In [15]:
df[df['DateAdded'].between('2018-01-01', '2018-03-01')]

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),DateAdded,HatchRate(%),EggsHatched
4,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,2018-01-25,80.2,125.914
10,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,2018-01-09,71.5,121.550
11,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,2018-02-13,64.3,203.831
18,Dylan Short,718932006,geniue fowl,74,0.3,22.20,2018-02-19,81.7,60.458
23,Jared Rangel,0770 636 451,duck,475,0.5,237.50,2018-02-01,85.1,404.225
25,George Lee,775139057,road runner,207,0.1,20.70,2018-01-06,78.3,162.081
29,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,2018-01-16,71.2,107.512
36,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,2018-02-14,50.1,88.176

In [21]:
df.set_index('DateAdded', inplace=True)
df

,Name,Contact,BirdType,NumberOfEggs,PricePerEgg($),TotalPrice($),HatchRate(%),EggsHatched
DateAdded,,,,,,,,
2018-06-05,Manuel Chapman Jr.,+263 737 070 090,geniue fowl,56,0.3,16.80,83.3,46.648
2018-05-17,Mary Morgan,0712 474 894,turkey,88,0.4,35.20,86.5,76.120
2018-05-24,Michelle Gutierrez,0771 690 526,broiler,411,0.2,82.20,76.1,312.771
2018-06-07,William Hernandez,775172685,duck,156,0.5,78.00,83.7,130.572
2018-01-25,Blake Trevino,+263 715 379 507,turkey,157,0.4,62.80,80.2,125.914
2018-04-08,Greg Thomas,+263 736 376 681,turkey,9,0.4,3.60,52.8,4.752
2018-05-06,James Fletcher,+263 772 39 4032,broiler,462,0.2,92.40,83.2,384.384
2018-03-21,Jonathan Moore,+263 737 904 310,geniue fowl,201,0.3,60.30,54.3,109.143
2018-05-15,David Patterson,+263 736 547 696,broiler,287,0.2,57.40,82.1,235.627
2018-06-20,Hannah Hernandez,+263 736 691 539,road runner,80,0.1,8.00,72.5,58.000
2018-01-09,Jamie Brown,0733 512 376,broiler,170,0.2,34.00,71.5,121.550
2018-02-13,Shawna Reed,+263 719 997 962,turkey,317,0.4,126.80,64.3,203.831
2018-06-20,Christopher Knight,0735 527 693,geniue fowl,73,0.3,21.90,69.6,50.808
2018-06-11,Michelle Alvarado,773564147,turkey,391,0.4,156.40,61.5,240.465
2018-04-07,Nina Bray,738025658,broiler,176,0.2,35.20,70.0,123.200
2018-04-13,Chad Perez,771912470,broiler,422,0.2,84.40,67.5,284.850
2018-03-22,Ashley Gaines,0718 309 419,duck,319,0.5,159.50,86.5,275.935
2018-03-04,Gary Santana,+263 733 949 344,geniue fowl,453,0.3,135.90,71.2,322.536
2018-02-19,Dylan Short,718932006,geniue fowl,74,0.3,22.20,81.7,60.458
2018-03-17,Scott Simmons,+263 736 332 811,geniue fowl,63,0.3,18.90,66.3,41.769
2018-06-28,Mark Hill,0736 698 044,duck,148,0.5,74.00,56.4,83.472
2018-06-23,Destiny Ho,+263 710 206 068,road runner,299,0.1,29.90,58.3,174.317
2018-06-15,Dr. Kelly Ray,0717 064 105,road runner,106,0.1,10.60,76.7,81.302
2018-02-01,Jared Rangel,0770 636 451,duck,475,0.5,237.50,85.1,404.225
2018-07-04,Joseph Russell,0712 567 391,turkey,465,0.4,186.00,68.9,320.385
2018-01-06,George Lee,775139057,road runner,207,0.1,20.70,78.3,162.081
2018-06-17,Kayla Lopez,+263 777 80 0015,broiler,219,0.2,43.80,67.8,148.482
2018-06-23,Richard Alexander,737680090,geniue fowl,372,0.3,111.60,54.7,203.484
2018-03-22,Catherine Anderson,0739 098 157,road runner,409,0.1,40.90,88.6,362.374
2018-01-16,Joshua Glover,0717 999 661,broiler,151,0.2,30.23,71.2,107.512
2018-04-25,Dean Dickson,0738 685 971,road runner,461,0.1,46.10,76.9,354.509
2018-04-11,Bruce Church,733039105,duck,447,0.5,223.50,52.4,234.228
2018-04-19,Jennifer Simmons DVM,+263 773 72 0319,broiler,238,0.2,47.60,75.0,178.500
2018-05-15,Brittany Nelson,+263 710 304 963,duck,270,0.5,135.00,56.1,151.470
2018-03-25,Kelly Williams MD,774194602,geniue fowl,133,0.3,39.90,88.5,117.705
2018-06-19,Michelle Greene,+263 772 830 576,broiler,346,0.2,69.20,58.6,202.756
2018-02-14,Ronald Hughes,+263 711 662 250,duck,176,0.5,88.00,50.1,88.176
2018-07-05,Gabriela Ramirez,0737 217 419,geniue fowl,362,0.3,108.60,87.9,318.198
2018-05-27,Joe Mitchell,0710 817 548,duck,201,0.5,100.50,58.2,116.982
2018-05-30,Joseph Wang,0772 854 625,turkey,430,0.4,172.00,60.4,259.720